.container{
    background-color: #d4f0f4;
    border-radius: 30px;
    min-height: 80vh;
    padding: 1vw;
    width: 75vw;
    margin-bottom: 2vh;
}
.title{
    padding-left: 2vw;
}
.graphic{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;
}

.card{
    padding-top: 10px;
}