<mat-grid-list  cols="1" rowHeight="100px">
    <mat-grid-tile >
      <mat-card class="card">Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card  class="card">Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card  class="card">Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card  class="card">Simple card 2</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card  class="card">Simple card 3</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card  class="card">Simple card4</mat-card>
    </mat-grid-tile>
  </mat-grid-list>
