<mat-drawer-container class="example-container" >
    <mat-drawer class="drawerContent" #drawer opened mode="side">
    <app-drawer></app-drawer>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar class="header">
        <button mat-icon-button class="icon" (click)="drawer.toggle()" aria-label="Example icon-button  menu icon">
         <mat-icon>menu</mat-icon>
       </button>
       <span> My App</span>
       <span class="example-spacer"></span>
       <button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
         <mat-icon>favorite</mat-icon>
       </button>
       <button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
      </button>
     </mat-toolbar>
    <div class="content">
        <app-content>
         </app-content>
    </div> 
    
   
    </mat-drawer-content>
  </mat-drawer-container>

<router-outlet></router-outlet>
