<div class="drawerContent">
    <div class="topDrawer">
        <img class="avatar" width="100px" height="100px"
            src="https://res.cloudinary.com/dos13qenv/image/upload/v1616708745/PinClipart.com_user-clipart_1653686_ucmgza.png" />
        <strong>Lourdes Barreto</strong>
    </div>


    <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>

</div>